@import 'mixin';
@import 'variables';

header{
    @include center(space-between);
    background: $primary-color;
    height: 15vh;
    width: 100%;
    padding: $desktop;
    position: fixed
}
nav{
    @include center;
    gap: 1.5rem;
}
nav a{
    color: $light-color;
    font-size: $font-smile;
    font-weight: $weight-normal;
}