@import 'mixin';
@import 'variables';

header{
    @include center(space-between);
    background: $primary-color;
    height: 15vh;
    width: 100%;
    padding: $desktop;
    position: fixed;
    top: 0;
    z-index: 99
}
nav{
    @include center;
    gap: $gap;
}
nav a{
    color: $light-color;
    font-size: $font-small;
    font-weight: $weight-normal;
}