@use 'tools/variables' as vars;

#home {
  height: 85vh;
  width: 100%;
  margin-top: 15vh;
  background: linear-gradient(to right, vars.$secundary-color, vars.$primary-color);
  padding: vars.$container-padding;

  .title {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: vars.$gap;

    h1 {
      font-size: vars.$font-ext-larger;
      font-weight: vars.$weight-bold;
      line-height: 1;
      color: vars.$light-color;
    }

    p {
      font-size: vars.$font-small;
      font-weight: vars.$weight-normal;
      color: vars.$light-color;
    }

    a {
      padding: vars.$link-padding;
      margin: 0;
      border: 2px solid vars.$primary-color;
      background-color: vars.$light-color;
      display: block;
      color: vars.$primary-color;
      transition: .4s ease;
      border-radius: vars.$button-radius;
      width: vars.$fit-content-width;
      font-size: vars.$font-small;
      font-weight: vars.$weight-normal;
    }

    a:hover {
      background-color: vars.$primary-color;
      color: vars.$light-color;
      box-shadow: 0 0 10px vars.$link-hover-box-shadow;
    }
  }
}

@media (max-width: 1024px) {
  #home {
    padding: vars.$container-padding-responsive;

    .title h1 {
      font-size: vars.$font-larger;
    }

    .container {
      padding: 0 2rem;

      figure img {
        width: 350px;
      }
    }
  }
}

@media (max-width: 768px) {
  #home {
    padding: 1.5rem 0 0 0;

    .container {
      flex-direction: column;

      .title {
        width: 100%;
        text-align: center;
        align-items: center;
      }

      figure img {
        width: 300px;
      }
    }
  }
}
