@import 'mixin';
@import 'variables';

#home{
    height: 85vh;
    width: 100%;
    margin-top: 15vh;
    background: linear-gradient(to right,$secundary-color,$primary-color );
        .title{
            @include column;
            width: 50%;
            gap: $gap;
    
            h1{
                font-size: $font-ext-larger;
                font-weight: $weight-bold;
                line-height: 1;
                color: $light-color;
            }
    
            p{
                font-size: $font-small;
                font-weight: $weight-normal;
                color: $light-color;
            }
            a{
                position: relative;
                padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
                margin: 0;
                border: 2px solid $primary-color;
                background-color: $light-color;
                display: block;
                color: $primary-color;
                transition: .4s ease;
                border-radius: 50rem;
                width: fit-content;
                font-size: $font-small;
                font-weight: $weight-normal;
            }
        }
    
}

