@use 'variables' as vars;

#services {
  height: auto;
  width: 100%;
  padding: vars.$container-padding;

  .container {
    display: flex;
    flex-direction: column;
    gap: vars.$gap;

    .subtitle {
      display: flex;
      flex-direction: column;
      gap: vars.$gap;

      h2 {
        font-size: vars.$font-larger;
        font-weight: vars.$weight-bold;
        color: vars.$primary-color;
      }

      hr {
        width: 100px;
        height: 3px;
        margin: auto;
      }
    }

    article {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: vars.$gap;

        h3 {
          font-size: vars.$font-medium;
          font-weight: vars.$weight-normal;
          color: vars.$primary-color;
        }

        p {
          font-size: vars.$font-small;
          font-weight: vars.$weight-light;
          color: vars.$dark-color;
        }

        a {
          padding: vars.$link-padding;
          margin: 0;
          border: 2px solid vars.$primary-color;
          background-color: vars.$light-color;
          display: block;
          color: vars.$primary-color;
          transition: .4s ease;
          border-radius: vars.$button-radius;
          width: vars.$fit-content-width;
          font-size: vars.$font-small;
          font-weight: vars.$weight-normal;
        }

        a:hover {
          background-color: vars.$primary-color;
          color: vars.$light-color;
          box-shadow: 0 0 10px vars.$faq-box-shadow;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #services .container {
    padding: 0 2rem;

    .subtitle h2 {
      font-size: vars.$font-medium-larger;
    }

    figure img {
      width: 350px;
    }
  }
}

@media (max-width: 768px) {
  #services {
    padding: 0 0 2rem 0;

    .container article {
      flex-direction: column-reverse;
      text-align: center;
      gap: vars.$gap;

      &:last-child {
        flex-direction: column;
        margin: 2rem 0 0 0;
      }

      .text {
        align-items: center;
        width: 100%;
      }

      figure img {
        width: 300px;
      }
    }
  }
}
