@import 'mixin';
@import 'variables';

#services{
    height: auto;
    width: 100%;
    padding: $container-padding;
    
    .container{
        @include column;
        gap: $gap;

        .subtitle{
            @include column;
            gap: $gap;

            h2{
                font-size: $font-larger;
                font-weight: $weight-bold;
                color: $primary-color;
            }
            hr{
                width: 100px;
                height: 3px;
                margin: auto;
            }
        }

        article{
          display: flex;
          justify-content: space-between;
          align-items: center;

            .text{
                width: 50%;
                @include column;
                gap: $gap;


                h3{
                    font-size: $font-medium;
                    font-weight: $weight-normal;
                    color: $primary-color;
                }

                p{
                    font-size: $font-small;
                    font-weight: $weight-light;
                    color: $dark-color;
                }

                a{
                    padding: $link-padding;
                    margin: 0;
                    border: 2px solid $primary-color;
                    background-color: $light-color;
                    display: block;
                    color: $primary-color;
                    transition: .4s ease;
                    border-radius: $button-radius;
                    width: $fit-content-width;
                    font-size: $font-small;
                    font-weight: $weight-normal;
                }
                a:hover{
                    background-color: $primary-color;
                    color: $light-color;
                    box-shadow: 0 0 10px $faq-box-shadow;
            }
            }
        }
    }
}
@media (max-width: 1024px) {
    #services .container{
        padding: 0 2rem;
        .subtitle h2{
        font-size: $font-medium-larger;

        figure img{
            width: 350px;
        }
    }
    } 
} 
@media (max-width: 768px) {
    #services {
        padding: 0 0 2rem 0;
        .container article{
            flex-direction: column-reverse;
            text-align: center;
            gap: $gap;

            &:last-child {
                flex-direction: column;
                margin: 2rem 0 0 0;
            }
        
            .text{
                align-items: center;
                width: 100%;
            }

            figure img{
                width: 300px;
            }
        
        } 
    }
        
        
} 