//Font-size
$font-smile: 1.3rem;
$font-medium: 2rem;
$font-larger: 3.5rem;
$font-ext-larger: 5rem;

//Color
$primary-color:#3c1b95;
$secundary-color:#0f0125;
$light-color:#fff;
$dark-color:#212121;

//Padding
$desktop:0 8%;
$mobile:0 .5rem;