//Font-size
$font-small: 1.2rem;
$font-medium: 2rem;
$font-larger: 3.5rem;
$font-ext-larger: 5rem;

//Font-Weight
$weight-light:500;
$weight-normal:700;
$weight-bold:900;

//Color
$primary-color:#3c1b95;
$secundary-color:#0f0125;
$light-color:#fff;
$dark-color:#212121;
$cta-bg-color: #c4abd7;
$link-hover-box-shadow: rgba(255, 255, 255, 0.5); 
$faq-box-shadow: rgba(59, 27, 149, 0.93); 

//Spacings
$desktop:0 8%;
$mobile:0 .5rem;
$container-padding: 3rem 0;
$link-padding: .5rem 1rem;
$gap: 1rem;

//Dimensions
$fit-content-width: fit-content;
$button-radius: 5px; 
$card-width: 340px; 