* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85%;
  padding: 0 8%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3c1b95;
  height: 15vh;
  width: 100%;
  padding: 0 8%;
  position: fixed;
  top: 0;
  z-index: 99;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

nav a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

#home {
  height: 85vh;
  width: 100%;
  margin-top: 15vh;
  background: linear-gradient(to right, #0f0125, #3c1b95);
}
#home .title {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1.5rem;
}
#home .title h1 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1;
  color: #fff;
}
#home .title p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}
#home .title a {
  position: relative;
  padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
  margin: 0;
  border: 2px solid #3c1b95;
  background-color: #fff;
  display: block;
  color: #3c1b95;
  transition: 0.4s ease;
  border-radius: 50rem;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 700;
}

.st1 {
  opacity: 0.3;
  fill: #fff;
  enable-background: new;
}

.st2 {
  opacity: 0.5;
  fill: #fff;
  enable-background: new;
}

.st3 {
  opacity: 0.7;
  fill: #fff;
  enable-background: new;
}

.st4 {
  opacity: 1;
  fill: #fff;
  enable-background: new;
}

.wave {
  height: 200px;
}

@media (max-width: 1076px) {
  .corpo {
    height: 180px;
  }
}
@media (max-width: 630px) {
  .corpo {
    height: 160px;
  }
}
@media (max-width: 576px) {
  .corpo {
    height: 120px;
  }
}
#services {
  height: auto;
  width: 100%;
}
#services .container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#services .container .subtitle {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#services .container .subtitle h2 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #3c1b95;
}
#services .container .subtitle hr {
  width: 100px;
  height: 3px;
  margin: auto;
}
#services .container article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#services .container article .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#services .container article .text h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #3c1b95;
}
#services .container article .text p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #212121;
}
#services .container article .text a {
  position: relative;
  padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
  margin: 0;
  border: 2px solid #3c1b95;
  background-color: #fff;
  display: block;
  color: #3c1b95;
  transition: 0.4s ease;
  border-radius: 50rem;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 700;
}

/*# sourceMappingURL=styles.css.map */
