* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #fff;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85%;
  padding: 0 8%;
}

hr {
  border: 2px solid #c4abd7;
}

.btn-whatsapp-pulse {
  background: #25d366;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  padding: 35px;
  text-decoration: none;
  border-radius: 50%;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }
  80% {
    box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
  }
}
@media (max-width: 500px) {
  .btn-whatsapp-pulse {
    bottom: 60px;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3c1b95;
  height: 15vh;
  width: 100%;
  padding: 0 8%;
  position: fixed;
  top: 0;
  z-index: 99;
}
@media (max-width: 1024px) {
  header {
    padding: 0 2rem;
  }
}
header button {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 768px) {
  header button {
    display: block;
  }
  header nav {
    display: none;
  }
  header .nav-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 15vh;
    width: 100%;
    background: rgba(59, 27, 149, 0.93);
    padding: 1rem;
    right: 0;
  }
  header .nav-open a {
    background-color: #3c1b95;
    width: fit-content;
    text-align: center;
    border-radius: 5px;
    width: 100%;
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
nav a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.3s ease;
}
nav a:hover {
  color: #c4abd7;
  transition: 0.3s ease;
}

#home {
  height: 85vh;
  width: 100%;
  margin-top: 15vh;
  background: linear-gradient(to right, #0f0125, #3c1b95);
  padding: 3rem 0;
}
#home .title {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}
#home .title h1 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1;
  color: #fff;
}
#home .title p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}
#home .title a {
  padding: 0.5rem 1rem;
  margin: 0;
  border: 2px solid #3c1b95;
  background-color: #fff;
  display: block;
  color: #3c1b95;
  transition: 0.4s ease;
  border-radius: 5px;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 700;
}
#home .title a:hover {
  background-color: #3c1b95;
  color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@media (max-width: 1024px) {
  #home {
    padding: 1.5rem 0;
  }
  #home .title h1 {
    font-size: 3.5rem;
  }
  #home .container {
    padding: 0 2rem;
  }
  #home .container figure img {
    width: 350px;
  }
}
@media (max-width: 768px) {
  #home {
    padding: 1.5rem 0 0 0;
  }
  #home .container {
    flex-direction: column;
  }
  #home .container .title {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  #home .container figure img {
    width: 300px;
  }
}
.st1 {
  opacity: 0.3;
  fill: #fff;
  enable-background: new;
}

.st2 {
  opacity: 0.5;
  fill: #fff;
  enable-background: new;
}

.st3 {
  opacity: 0.7;
  fill: #fff;
  enable-background: new;
}

.st4 {
  opacity: 1;
  fill: #fff;
  enable-background: new;
}

.wave {
  height: 200px;
  width: 100%;
}

@media (max-width: 1076px) {
  .corpo {
    height: 180px;
  }
}
@media (max-width: 630px) {
  .corpo {
    height: 160px;
  }
}
@media (max-width: 576px) {
  .corpo {
    height: 120px;
  }
}
#services {
  height: auto;
  width: 100%;
  padding: 3rem 0;
}
#services .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#services .container .subtitle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#services .container .subtitle h2 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #3c1b95;
}
#services .container .subtitle hr {
  width: 100px;
  height: 3px;
  margin: auto;
}
#services .container article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#services .container article .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#services .container article .text h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #3c1b95;
}
#services .container article .text p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #212121;
}
#services .container article .text a {
  padding: 0.5rem 1rem;
  margin: 0;
  border: 2px solid #3c1b95;
  background-color: #fff;
  display: block;
  color: #3c1b95;
  transition: 0.4s ease;
  border-radius: 5px;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 700;
}
#services .container article .text a:hover {
  background-color: #3c1b95;
  color: #fff;
  box-shadow: 0 0 10px rgba(59, 27, 149, 0.93);
}

@media (max-width: 1024px) {
  #services .container {
    padding: 0 2rem;
  }
  #services .container .subtitle h2 {
    font-size: 2.8rem;
  }
  #services .container figure img {
    width: 350px;
  }
}
@media (max-width: 768px) {
  #services {
    padding: 0 0 2rem 0;
  }
  #services .container article {
    flex-direction: column-reverse;
    text-align: center;
    gap: 1rem;
  }
  #services .container article:last-child {
    flex-direction: column;
    margin: 2rem 0 0 0;
  }
  #services .container article .text {
    align-items: center;
    width: 100%;
  }
  #services .container article figure img {
    width: 300px;
  }
}
#plans {
  height: auto;
  width: 100%;
  display: flex;
  align-items: start;
  background: linear-gradient(to right, #3c1b95, #0f0125);
  position: relative;
  padding: 3rem 0;
}
#plans .container {
  display: flex;
  flex-direction: column;
  align-items: normal;
  gap: 1rem;
}
#plans .container .subtitle {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#plans .container .subtitle h2 {
  font-size: 3.5rem;
  color: #fff;
}
#plans .container .subtitle hr {
  margin: auto;
}
#plans .container .subtitle p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}
#plans .container .cards {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  text-align: center;
}
#plans .container .cards hr {
  margin: 0.3rem 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#plans .container .cards .card {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 1rem;
  width: 340px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
}
#plans .container .cards .card h3 {
  font-size: 1.8rem;
  font-weight: 700;
}
#plans .container .cards .card p {
  font-size: 1.2rem;
  font-weight: 900;
}
#plans .container .cards .card ul {
  text-align: start;
}
#plans .container .cards .card ul li {
  font-size: 1.2rem;
}
#plans .container .cards .card ul li i {
  color: rgb(105, 166, 105);
  margin: 0 0.5rem 0 0;
}
#plans .container .cards .card a {
  width: fit-content;
  margin: 1rem auto 0;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  transition: 0.3s ease;
}
#plans .container .cards .card a:hover {
  background-color: #fff;
  color: #3c1b95;
  transition: 0.3s ease;
}
#plans .container .cards .card:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

@media (max-width: 1024px) {
  #plans .container {
    padding: 0 2rem;
    gap: 2rem;
  }
  #plans .container .subtitle h2 {
    font-size: 2.8rem;
  }
  #plans .container .cards {
    flex-direction: column;
    align-items: center;
  }
  #plans .container .cards .card {
    width: 450px;
  }
}
@media (max-width: 768px) {
  #plans .container .cards .card {
    width: 300px;
  }
}
#galery {
  align-items: center;
  padding: 3rem 0;
  width: 100%;
  background-color: #fff;
  gap: 1rem;
}
#galery .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#galery .container h2 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #3c1b95;
}
#galery .container .galery-portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
}
#galery .container .galery-portfolio figure {
  height: 200px;
  position: relative;
  overflow: hidden;
  cursor: default;
  border: 1px solid #fff;
  border-radius: 10px;
}
#galery .container .galery-portfolio figure img {
  height: 100%;
  width: 100%;
}
#galery .container .galery-portfolio figure .text-portfolio {
  width: 100%;
  height: 0;
  background: linear-gradient(#3c1b95, rgba(255, 255, 255, 0.3));
  position: absolute;
  border-radius: 10px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  transition: height 0.5s;
}
#galery .container .galery-portfolio figure .text-portfolio h3 {
  color: #fff;
  font-size: 2rem;
}
#galery .container .galery-portfolio figure .text-portfolio p {
  color: #fff;
  font-size: 1.2rem;
}
#galery .container .galery-portfolio figure .text-portfolio a {
  width: fit-content;
  margin: 1rem auto 0;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: #fff;
  color: #3c1b95;
  transition: 0.3s ease;
}
#galery .container .galery-portfolio figure .text-portfolio a:hover {
  background-color: #3c1b95;
  color: #fff;
  transition: 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
#galery .container .galery-portfolio figure:hover .text-portfolio {
  height: 100%;
}
#galery .container a {
  width: fit-content;
  margin: 1rem auto 0;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: #8477a1;
  color: #fff;
  transition: 0.3s ease;
}
#galery .container a:hover {
  background-color: #fff;
  color: #3c1b95;
  transition: 0.3s ease;
}

@media (max-width: 1024px) {
  #galery .container {
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  #galery .container h2 {
    font-size: 2.8rem;
  }
  #galery .container .galery-portfolio {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  #galery .container .galery-portfolio {
    grid-template-columns: repeat(1, 1fr);
  }
}
#cta {
  height: 55vh;
  width: 100%;
  background: url(/codeWave/assets/img/background-cta.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-color: #c4abd7;
  display: flex;
  align-items: center;
}
#cta .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-left: auto;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  background: linear-gradient(to right, transparent, #3c1b95, #0f0125);
  height: 100%;
}
#cta .container h2 {
  font-size: 2rem;
  color: #fff;
}
#cta .container p {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
}
#cta .container a {
  font-size: 2rem;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 1rem;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
#cta .container a:hover {
  background-color: #fff;
  color: #3c1b95;
  border: 2px solid #3c1b95;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

@media (max-width: 1024px) {
  #cta {
    background: rgb(0, 0, 0), url(assets/img/background-cta.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 0;
  }
  #cta .container {
    width: 100%;
    background: linear-gradient(to left, transparent, #0f0125);
    padding: 0 2rem;
  }
  #cta .container h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  #cta .container h2 {
    font-size: 2.8rem;
  }
}
#faq {
  text-align: start;
  padding: 3rem 0;
  height: auto;
}
#faq .container {
  display: flex;
  flex-direction: column;
}
#faq .container .subtitle h2 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #3c1b95;
  text-align: center;
  margin-bottom: 20px;
}
#faq .container .subtitle hr {
  margin: 10px auto;
}
#faq .container .faq-item {
  background: #c4abd7;
  border: 1px solid #fff;
  border-radius: 8px;
  margin: 10px auto;
  padding: 15px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0px 6px rgba(59, 27, 149, 0.93);
}
#faq .container .faq-item .faq-question {
  background-color: #3c1b95;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
  text-align: left;
  width: 100%;
  transition: background-color 0.3s ease;
}
#faq .container .faq-item .faq-question:hover {
  background-color: rgba(59, 27, 149, 0.93);
}
#faq .container .faq-item .faq-answer {
  margin-top: 10px;
  padding: 10px;
  display: none;
}
#faq .container .faq-item .faq-answer.hidden {
  display: none;
}
#faq .container .faq-item .faq-answer p {
  color: #0f0125;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  #faq .container {
    padding: 0 2rem;
  }
  #faq .container .subtitle h2 {
    font-size: 2.8rem;
  }
}
footer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #0f0125, #3c1b95);
  padding: 3rem 0;
}
footer .container {
  display: flex;
  flex-direction: column;
}
footer .container .footer-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .footer-top nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
footer .container .footer-top ul {
  display: flex;
  gap: 1rem;
}
footer .container .footer-top ul li a {
  font-size: 2rem;
  color: #fff;
  transition: 0.3s ease;
}
footer .container .footer-top ul li a:hover {
  color: #c4abd7;
  transition: 0.3s ease;
}
footer .container .copy p {
  font-size: 1.2rem;
  color: #fff;
}
footer .container .copy p a {
  color: #0cd5c9;
}

@media (max-width: 1024px) {
  footer .container .footer-top {
    flex-direction: column;
    gap: 2rem;
  }
  footer .container .footer-top nav {
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
