* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85%;
  padding: 0 8%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3c1b95;
  height: 15vh;
  width: 100%;
  padding: 0 8%;
  position: fixed;
  top: 0;
  z-index: 99;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

nav a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

#home {
  height: 85vh;
  width: 100%;
  margin-top: 15vh;
  background: linear-gradient(to right, #0f0125, #3c1b95);
}
#home .title {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1.5rem;
}
#home .title h1 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1;
  color: #fff;
}
#home .title p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}
#home .title a {
  position: relative;
  padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
  margin: 0;
  border: 2px solid #3c1b95;
  background-color: #fff;
  display: block;
  color: #3c1b95;
  transition: 0.4s ease;
  border-radius: 50rem;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 700;
}

.st1 {
  opacity: 0.3;
  fill: #fff;
  enable-background: new;
}

.st2 {
  opacity: 0.5;
  fill: #fff;
  enable-background: new;
}

.st3 {
  opacity: 0.7;
  fill: #fff;
  enable-background: new;
}

.st4 {
  opacity: 1;
  fill: #fff;
  enable-background: new;
}

.wave {
  height: 200px;
  width: 100%;
}

@media (max-width: 1076px) {
  .corpo {
    height: 180px;
  }
}
@media (max-width: 630px) {
  .corpo {
    height: 160px;
  }
}
@media (max-width: 576px) {
  .corpo {
    height: 120px;
  }
}
#services {
  height: auto;
  width: 100%;
  padding: 3rem 0;
}
#services .container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#services .container .subtitle {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#services .container .subtitle h2 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #3c1b95;
}
#services .container .subtitle hr {
  width: 100px;
  height: 3px;
  margin: auto;
}
#services .container article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#services .container article .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#services .container article .text h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #3c1b95;
}
#services .container article .text p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #212121;
}
#services .container article .text a {
  position: relative;
  padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
  margin: 0;
  border: 2px solid #3c1b95;
  background-color: #fff;
  display: block;
  color: #3c1b95;
  transition: 0.4s ease;
  border-radius: 50rem;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 700;
}

#plans {
  height: auto;
  width: 100%;
  display: flex;
  align-items: start;
  background: linear-gradient(to right, #3c1b95, #0f0125);
  position: relative;
  padding: 3rem 0;
}
#plans .container {
  display: flex;
  flex-direction: column;
  align-items: normal;
  gap: 1rem;
}
#plans .container .subtitle {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#plans .container .subtitle h2 {
  font-size: 3.5rem;
  color: #fff;
}
#plans .container .subtitle hr {
  margin: auto;
}
#plans .container .subtitle p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}
#plans .container .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}
#plans .container .cards hr {
  margin: 0.3rem 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#plans .container .cards .card {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 1rem;
  width: 340px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
#plans .container .cards .card h5 {
  font-size: 1.8rem;
  font-weight: 700;
}
#plans .container .cards .card p {
  font-size: 1.2rem;
  font-weight: 900;
}
#plans .container .cards .card ul {
  text-align: start;
}
#plans .container .cards .card ul li {
  font-size: 1.2rem;
}
#plans .container .cards .card a {
  width: fit-content;
  margin: 1rem auto 0;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  transition: 0.3s ease;
}
#plans .container .cards .card a:hover {
  background-color: #fff;
  color: #3c1b95;
  transition: 0.3s ease;
}
#plans .container .cards .card:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#galery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  width: 100%;
  background-color: #fff;
  gap: 1rem;
}
#galery h2 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #3c1b95;
}
#galery .galery-portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
}
#galery .galery-portfolio figure {
  height: 200px;
  position: relative;
  overflow: hidden;
  cursor: default;
  border: 1px solid #fff;
  border-radius: 10px;
}
#galery .galery-portfolio figure img {
  height: 100%;
  width: 100%;
}
#galery .galery-portfolio figure .text-portfolio {
  width: 100%;
  height: 0;
  background: linear-gradient(#3c1b95, rgba(255, 255, 255, 0.3));
  position: absolute;
  border-radius: 10px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  transition: height 0.5s;
}
#galery .galery-portfolio figure .text-portfolio h4 {
  color: #fff;
  font-size: 2rem;
}
#galery .galery-portfolio figure .text-portfolio p {
  color: #fff;
  font-size: 1.2rem;
}
#galery .galery-portfolio figure .text-portfolio a {
  width: fit-content;
  margin: 1rem auto 0;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: #fff;
  color: #3c1b95;
  transition: 0.3s ease;
}
#galery .galery-portfolio figure .text-portfolio a:hover {
  background-color: #3c1b95;
  color: #fff;
  transition: 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
#galery .galery-portfolio figure:hover .text-portfolio {
  height: 100%;
}
#galery a {
  width: fit-content;
  margin: 1rem auto 0;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: #8477a1;
  color: #fff;
  transition: 0.3s ease;
}
#galery a:hover {
  background-color: #fff;
  color: #3c1b95;
  transition: 0.3s ease;
}

#cta {
  height: 65vh;
  width: 100%;
  background-image: url(/assets/img/background-cta.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #c4abd7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
#cta h2 {
  font-size: 3.5rem;
  color: #fff;
}
#cta p {
  font-size: 1.2rem;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
